{% extends 'base.html' %}
{% block conteudo %}
  <div class="container">
        <div class="d-flex justify-content-center">
    <div class="jumbotron">
        
            <h1 class="display-4">Digite seus dados!</h1>
      <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          {# A more "HTML" way of creating the login form#}
          <label for="username">Usuario:</label>
          <input type="text" name="username" placeholder="Username">
<label for="password">Senha:</label>
          <input type="password" name="password" placeholder="Password">
<input type="submit" class="btn btn-success"name="" value="Login">
</form>
</div>
</div>
  </div>
{% endblock conteudo%}