{% extends 'base.html' %}
{% load bootstrap %}

{% block conteudo %}

        <div class="col-md-auto">
         <div class="table-responsive">
                        <table class="table">
                                        <h2 class="text-center">Lista dos Associados</h2>
                                 <thead class="thead-dark">
                                         <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Nome</th>
                                            <th scope="col">Telefone</th>
                                            <th scope="col">Data_Nascimento</th>
                                          <th scope="col">Data_Filiação</th>
                                            <th scope="col">CPF</th>
                                            <th scope="col">Empresa</th>
                                            <th colspan = '2' style="text-align:center" scope="col">Ações</th>
                                          </tr>
                                 </thead>
                                        <tbody>
                                                {% for associado in associados %}
                                          <tr>
                                            <th scope="row">{{associado.id}}</th>
                                            <td>{{associado.nome}}</td>
                                            <td>{{associado.telefone}}</td>
                                            <td>{{associado.data_nascimento}}</td>
                                            <td>{{associado.data_filiacao}}</td>
                                            <td>{{associado.cpf}}</td>
                                            <td>{{associado.empresa}}</td>
                                            <td><a href="{% url 'core_associado_update' associado.id %}" class="btn btn-primary">Editar</td>
                                            <td><a href="{% url 'core_associado_delete' associado.id %}" class="btn btn-danger">Excluir</td>
                                          </tr>       
                                            {% endfor %}                
                                        </tbody>
                          </table>
                          <div class="container">
                          <div class="row justify-content-md-center">
                <div class="col-md-auto">
                        <h2 class="text-center">Adicionar Associado</h2>
                </div>
</div>
                     <form action="{% url 'core_associado_novo' %}" method="POST">
          
                         {% csrf_token %}       
                                                 
                          {{form|bootstrap }}
                                
                         <button type="submit" class="btn btn-success">Cadastrar</button>
                         <a class="btn btn-info" href="{% url 'relatorio_associados' %}">Relatorio PDF</a>
          </form>                  
                                      
        </div>
<!DOCTYPE html>
<html lang="pt-br">
<head>
       
</head>
<body>
             
             </div>
          </body>

          {% endblock conteudo %}
          </html> 
          </div>