
{% extends 'base.html' %}
{% load bootstrap %}
{% block conteudo %}

           
                <div class="col-md-auto">
                                <h2 class="text-center">Lista das Empresas</h2>
                         <table class="table">
                            <thead class="thead-dark">
                               <tr>
                             <th scope="col">ID</th>
                           <th scope="col">Nome</th>
                            <th scope="col">Endereço</th>
                            <th scope="col">Telefone</th>
                           <th scope="col">CNPJ</th>
                           <th scope="col">Email</th>
                           <th colspan = '2' style="text-align:center" scope="col">Ações</th>
                             </tr>
                         </thead>
                         <tbody>
                                 {% for empresa in empresas %}
                                 <tr>
                         <th scope="row">{{empresa.id}}</th>
                         <td>{{empresa.nome}}</td>
                           <td>{{empresa.endereco}}</td>
                            <td>{{empresa.telefone}}</td>
                          <td>{{empresa.cnpj}}</td>
                          <td>{{empresa.email}}</td>
                           <td><a href="{% url 'core_empresa_update' empresa.id %}" class="btn btn-primary">Editar</td>
                      <td><a href="{% url 'core_empresa_delete' empresa.id %}" class="btn btn-danger">Excluir</td>
                          </tr>       
                            {% endfor %}                
                      </tbody>
                         </table>
                          <div class="container">
                          <div class="row justify-content-md-center">
                          <div class="col-md-auto">
                        <h2 class="text-center">Adicionar Empresas</h2>
                </div>
                </div>
                           <form action="{% url 'core_empresa_novo' %}" method="POST">
          
                         {% csrf_token %}       
                                                         
                          {{form|bootstrap }}
                                        
                           <button type="submit" class="btn btn-success">Cadastrar</button>
                                 <a class="btn btn-info" href="{% url 'relatorio_pdf' %}">Relatorio PDF</a>
                         </form>
                         
         </div>

<!DOCTYPE html>
<html lang="pt-br">
<head>
       
</head>
<body>
                    
                </div>
</body>
{% endblock conteudo %}

</html>
