{% extends 'base.html' %}
{% load bootstrap %}

{% block conteudo %}

        <div class="col-md-auto">
         <div class="table-responsive">
                        <table class="table">
                                        <h2 class="text-center">Lista de Agendamentos</h2>
                                 <thead class="thead-dark">
                                         <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Nome</th>
                                            <th scope="col">Data</th>
                                            <th scope="col">Inicio</th>
                                          <th scope="col">Fim</th>
                                            <th scope="col">Assunto</th>  
                                            <th scope="col">Status</th>  
                                            <th colspan = '2' style="text-align:center" scope="col">Ações</th>
                                          </tr>
                                 </thead>
                                        <tbody>
                                                {% for agendamento in agendamentos %}
                                          <tr>
                                            <th scope="row">{{agendamento.id}}</th>
                                            <td>{{agendamento.nome}}</td>
                                            <td>{{agendamento.data}}</td>
                                            <td>{{agendamento.inicio}}</td>
                                            <td>{{agendamento.fim}}</td>
                                            <td>{{agendamento.assunto}}</td>
                                            <td>{{agendamento.status}}</td>
                                            <td><a href="{% url 'core_agendamento_update' agendamento.id %}" class="btn btn-primary">Editar</td>
                                            <td><a href="{% url 'core_agendamento_delete' agendamento.id %}" class="btn btn-danger">Excluir</td>
                                          </tr>       
                                            {% endfor %}                
                                        </tbody>
                          </table>
                          <div class="container">
                          <div class="row justify-content-md-center">
                <div class="col-md-auto">
                        <h2 class="text-center">Agendar Atendimento</h2>
                </div>
</div>

                     <form action="{% url 'core_agendamento_novo' %}" method="POST">
          
                         {% csrf_token %}       
                                                 
                          {{form|bootstrap }}
                                
                         <button type="submit" class="btn btn-success">Agendar</button>
                         
          </form>                  
                                      
        </div>
<!DOCTYPE html>
<html lang="pt-br">
<head>
       
</head>
<body>
             
             </div>
          </body>

          {% endblock conteudo %}
         
          </html> 
          </div>