{% extends 'base.html' %}
{% load bootstrap %}
{% block conteudo %}
<div class="row">
                <div class="col-12">
                        <h2>Cadastrar Pagamentos</h2>
                </div>
</div>
<div class="row">
                <div class="col-sm-6">
                <form action="{% url 'core_pagamento_novo' %}" method="POST">
          
                                {% csrf_token %}       
                                         
                                {{form|bootstrap  }}
                        
                                <button type="submit" class="btn btn-success">Cadastrar</button>
                                <a class="btn btn-info" href="{% url 'relatorio_pagamentos' %}">Relatorio PDF</a>
                </form>
                        </div>
                <div class="col-sm-6">
                                <table class="table">
                                                <h2>Lista dos Pagamentos</h2>
                                                <thead class="thead-dark">
                                                   <tr>
                                                 <th scope="col">ID</th>
                                               <th scope="col">Empresa</th>
                                                <th scope="col">Valor Pago</th>
                                                <th scope="col">Data Pagamento</th>
                                                 </tr>
                                             </thead>
                                             <tbody>
                                                     {% for pagamento in pagamentos %}
                                                     <tr>
                                             <th scope="row">{{pagamento.id}}</th>
                                             <td>{{pagamento.empresa}}</td>
                                               <td>{{pagamento.valor_pago}}</td>
                                                <td>{{pagamento.data_pagamento}}</td>
                                              </tr>       
                                                {% endfor %}                
                                          </tbody>
                                             </table>
                             </div>

<html lang="pt-br">
<head>
       
</head>
<body>
        
                </div>
          </body>
          {% endblock conteudo %}
          </html>