{% extends 'base.html' %}
{% load bootstrap %}
{% block conteudo %}
<div class="row">
                <div class="col">
<html lang="pt-br">
<head>
        <h2>Atualizar Empresa: {{ empresa }}</h2>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ATUALIZAR DADOS DA EMPRESA<</title>
</head>
<body>
        <form action="{% url 'core_empresa_update' empresa.id %}" method="POST">

        {% csrf_token %}       
                 
        {{ form|bootstrap }}

        <button type="submit" class="btn btn-success">Atualizar</button>
        <a href="{% url 'core_empresa_delete' empresa.id %}" class="btn btn-danger">Deletar</a>
        </form>
        
</body>
        </div>
</div>
</html>
{% endblock conteudo %}